<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Symetria</title>
	<link rel="stylesheet" href="src/css/bootstrap.min.css">
	<link rel="stylesheet" href="src/css/wallet.css">
</head>
<body>
	<div v-cloak id="wallet" class="container">
		<div class="row justify-content-md-center">
			<div class="col-8">
				<div class="col-12 bg-main">
					<div class="row">
						<header class="col-12">
						<h2 class="page-title">{{ title }}</h2>

						<!-- summary -->
						<div class="row justify-content-md-center">
							<a href="#" class="show-details" v-on:click.once="show = !show">						
								<div class="col-12">
									<h5>{{ port }}</h5>
								</div>
								<div class="col-12 value">{{ portifolioTotal | toCurrency }}</div>
								<div class="col-12 second-value fluctuation" v-bind:class="{'positive-value': fluctuationTotal >= '0'}"><strong><span class="glyphicon glyphicon-triangle-bottom"></span> {{fluctuationTotal | toCurrency}}</strong></div>
							</a>
						</div>
						</header>
					</div>

					<!-- error message -->
					<div class="error" v-if="error">
						<div class="alert alert-danger" role="alert">
							<strong>{{errorMessage}}</strong>
						</div>
					</div>

					<!-- currency details -->
					<transition name="fade">
						<div  id="details" class="row" v-if="show">
							<div v-for="wallet in exchangeWallet" class="col-12 each-detail"> <!-- loop to generate each currency -->
								<div class="row align-items-center">
									<div class="col-2 col-sm-2 col-xl-1">
										<span class="each-icon" v-bind:class="wallet.currency"></span>
									</div>
									<div class="col-10 col-sm-6 col-xl-6">
										<div class="row">
											<strong>{{ wallet.currency }}</strong>
										</div>
										<div class="row">
											<strong>{{ wallet.amount }} {{ wallet.currency }}</strong> / {{wallet.convertedToCad | toCurrency}}
										</div>
									</div>
									<div class="fluct col-12 col-sm-4 col-xl-5">
										<div>
											<strong class="fluctuation" v-bind:class="{'positive-value': wallet.changeToday >= '0'}">{{ wallet.changeToday | toCurrency }}</strong>
										</div>
										<div>
											<span>{{wallet.convertedToCad | toCurrency}}</span>
										</div>
									</div>
								</div>
								<div class="row">
								</div>
							</div>
						</div>
					</transition>
				</div>
			</div>

			<div class="col-4 bg-side">
				SIDEBar
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="src/js/ApiMock.js"></script>
</body>
</html>
